<div class="col-lg-6 col-md-5 bg-cover" style="background:#1f2431 url(/static/site/rtl/img/log.png)no-repeat;">
    <div class="lui_9okt6">
        <div class="_loh_revu97">
            <div id="reviews-login" dir="rtl">

                <!-- Single Reviews -->
                <div class="_loh_r96">
                    <div class="_bloi_quote"><i class="fa fa-quote-right"></i></div>
                    <div class="_loh_r92">
                        <h4>خدمات خوب</h4>
                    </div>
                    <div class="_loh_r93">
                        <p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد.</p>
                    </div>
                    <div class="_loh_foot_r93">
                        <h4>زهرا مرادی</h4>
                        <span>مدیر مدرسه</span>
                    </div>
                </div>

                <!-- Single Reviews -->
                <div class="_loh_r96">
                    <div class="_bloi_quote"><i class="fa fa-quote-right"></i></div>
                    <div class="_loh_r92">
                        <h4>مدرسین باتجربه</h4>
                    </div>
                    <div class="_loh_r93">
                        <p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد.</p>
                    </div>
                    <div class="_loh_foot_r93">
                        <h4>پارمیدا دادخواه</h4>
                        <span>گرافیست</span>
                    </div>
                </div>

                <!-- Single Reviews -->
                <div class="_loh_r96">
                    <div class="_bloi_quote"><i class="fa fa-quote-right"></i></div>
                    <div class="_loh_r92">
                        <h4>پشتیبانی قوی</h4>
                    </div>
                    <div class="_loh_r93">
                        <p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد.</p>
                    </div>
                    <div class="_loh_foot_r93">
                        <h4>باربد حسنی</h4>
                        <span>برنامه نویس</span>
                    </div>
                </div>

                <!-- Single Reviews -->
                <div class="_loh_r96">
                    <div class="_bloi_quote"><i class="fa fa-quote-right"></i></div>
                    <div class="_loh_r92">
                        <h4>فن بیان بالا</h4>
                    </div>
                    <div class="_loh_r93">
                        <p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد.</p>
                    </div>
                    <div class="_loh_foot_r93">
                        <h4>زهرا مرادی</h4>
                        <span>مدیر مدرسه</span>
                    </div>
                </div>
                <!-- Single Reviews -->
                <div class="_loh_r96">
                    <div class="_bloi_quote"><i class="fa fa-quote-right"></i></div>
                    <div class="_loh_r92">
                        <h4>مسلط و منظم</h4>
                    </div>
                    <div class="_loh_r93">
                        <p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد.</p>
                    </div>
                    <div class="_loh_foot_r93">
                        <h4>سوگند کاشانی</h4>
                        <span>شاگرد</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>