<link rel="shortcut icon" href="/static/admin_panel/media/logos/favicon.ico"/>
<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
<!--end::Fonts-->
<!--begin::Page Vendor Stylesheets(used by this page)-->
<link href="/static/admin_panel/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"/>
<link href="/static/admin_panel/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css"/>
<!--end::Page Vendor Stylesheets-->
<!--begin::Global Stylesheets Bundle(used by all pages)-->
<link href="/static/admin_panel/plugins/global/plugins.dark.bundle.rtl.css" rel="stylesheet" type="text/css"/>
<link href="/static/admin_panel/css/style.dark.bundle.rtl.css" rel="stylesheet" type="text/css"/>
<!--end::Global Stylesheets Bundle-->

{% comment %}
<!--begin::Global Stylesheets Bundle(used by all pages)-->
<link href="/static/admin_panel/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css"/>
<link href="/static/admin_panel/css/style.bundle.rtl.css" rel="stylesheet" type="text/css"/>
<!--end::Global Stylesheets Bundle-->{% endcomment %}
