<!--begin::Javascript-->
<script>var hostUrl = "/static/admin_panel/";</script>
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="/static/admin_panel/plugins/global/plugins.bundle.js"></script>
<script src="/static/admin_panel/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="/static/admin_panel/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<script src="/static/admin_panel/plugins/custom/datatables/datatables.bundle.js"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page سفارشی Javascript(used by this page)-->
<script src="/static/admin_panel/js/widgets.bundle.js"></script>
<script src="/static/admin_panel/js/custom/widgets.js"></script>
<script src="/static/admin_panel/js/custom/apps/chat/chat.js"></script>
<script src="/static/admin_panel/js/custom/utilities/modals/upgrade-plan.js"></script>
<script src="/static/admin_panel/js/custom/utilities/modals/create-app.js"></script>
<script src="/static/admin_panel/js/custom/utilities/modals/users-search.js"></script>
<!--end::Page custom Javascript-->
<!--end::Javascript-->